body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
grid-template-columns: repeat(16, 1);    align-items: center;
    flex-direction: column;
}