.Mercury {
    background-color: rgb(194, 186, 186);
    }
    .Venus{
        background-color: #ffa500;
    }
    .Earth{
        background-color: rgba(0, 128, 0, 0.526);
    }
    .Mars{
        background-color: rgb(236, 7, 7);
    }
    .Jupiter{
        background-color: rgb(162, 39, 39);
    }
    .Saturn{
        background-color: rgb(195, 195, 18);
    }
    .Uranus{
        background-color: rgb(20, 131, 168);
    } 
    .Neptune{
        background-color: rgb(6, 6, 202);
    }
    .Pluto{
        background-color: #fff1d5;
    }