* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("Thor.jpeg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    height: 500px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: right;
    font-size: x-large;
    font-weight: ;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#text {
    position: relative;
    top: 6em;
    left: 10vw;
    width: 80vw;
    color: white;
}

h1 {
    font-size: 5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

@media screen and (min-width: 600px) {
    ul {
        background-color: yellow;
    }

    li a {
        color: black;
    }

    h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 768px) {
    ul {
        background-color: lightgreen;
    }

    li a {
        color: black;
    }

    h1 {
        font-size: 25px;
    }
}

@media screen and (min-width: 992px) {
    ul {
        background-color: red;
    }

    li a {
        color: white;
    }

    h1 {
        display: inline-block;
        width: 30vw;
    }

    p {
        width: 30vw;
    }
}

@media screen and (min-width: 1200px) {
    ul {
        background-color: black;
    }

    li a {
        color: white;
    }
}